extends ../layout

block content
    //- GET: 기본값. 검색할 때. POST: 파일을 보낼 떄, DB를 바꾸는 data를 보낼 때, 로그인 할 때.
    form(method="POST")
      //- every 'input' must have a name!!
      div.input-label
        label(for="title") 제목
        input(name="title", id="title" type="text", placeholder="Title", value=video.title, maxlegth=80, required)
        label(for="description") 설명
        input(name="description", id="description", type="text", placeholder="Description", value=video.description, minlength=20, required)
        label(for="hashtags") 해시태그
        input(name="hashtags", id="hashtags", type="text", placeholder="Hashtags, separated by comma.", value=video.hashtags.join().replaceAll("#", ""), required)
      input(type="submit", value="저장")