.profile__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 80px;
  img {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  .edit_profile__link {
    background-color: $subww;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
  }
}
