.search__form {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 60px;
  input {
    all: unset;
    background-color: white;
    color: $font;
    width: 90%;
    padding: 15px 20px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 3px solid $key;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    &::placeholder {
      color: $bg;
    }
    &:focus {
      border: 3px solid $subww;
    }
  }
  button {
    all: unset;
    display: flex;
    text-align: center;
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
    font-size: 18px;
    color: $bg;
  }
}
