form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 420px;
  margin: 0 auto;
  &:not(.search__form) {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1.5px solid $subww;
  }
  .input-label {
    width: 100%;
    margin-bottom: 30px;
    label {
      color: $subb;
      display: block;
      font-size: 14px;
      font-weight: 700;
      margin: 10px 0;
    }
    input[type="file"] {
      border: 1.5px solid $subb;
    }
  }
  input {
    all: unset;
    background-color: $bg;
    color: $subbb;
    font-size: 15px;
    padding: 15px 20px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid $bg;
    transition: 0.2s ease-in-out;
    &::placeholder {
      color: $key;
      font-size: 14px;
      font-weight: 600;
    }
    &:focus {
      border: 2px solid $subww;
    }
  }
  input[type="submit"] {
    all: unset;
    cursor: pointer;
    background-color: $subww;
    color: $font;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 20px;
    margin-top: 21px;
    border-radius: 5px;
  }
}
