#videoContainer {
  width: 100%;
  position: relative;
  video {
    width: 100%;
  }
  .videoControls {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &.showing {
      opacity: 0.8;
      text-shadow: $font 1px 1px 6px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0));
    }
    span {
      cursor: pointer;
    }
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 10px;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        margin: 0 15px;
      }
      .videoControls__time {
        font-size: 14px;
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
        font-size: 20px;
      }
    }
    .videoControls__fullscreen {
      span {
        margin: 0 15px;
        font-size: 20px;
      }
    }
  }
}
.rangeInput {
  overflow: hidden;
  height: 9px;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.rangeInput:focus {
  outline: none;
}

.rangeInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 30px;
  border: 0.5px solid $subww;
  opacity: 0.8;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 9px;
  height: 9px;
  background: $subww;
  box-shadow: 1px 1px 7px $key;
  cursor: pointer;
  box-shadow: -100vw 0 0 100vw $subb;
}
