.video-mixin {
  .video-mixin__thumb {
    width: 100%;
    height: 160px;
    border-radius: 7px;
  }
  .video-mixin__data {
    display: flex;
    align-items: center;
    .video-mixin__img {
      height: 28px;
      width: 28px;
      border-radius: 50%;
      margin-bottom: 5px;
      border: 1px solid $font;
    }
    .video-mixin__text {
      padding: 0 10px;
      .video-mixin__title {
        line-height: 1.3em;
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
      }
      .video-mixin__meta {
        font-size: 12px;
        font-weight: 500;
        opacity: 0.5;
        margin-top: 5px;
        color: $bg;
      }
    }
  }
}
