extends layout

block navLink
  li
    a(href="/") Home
  li
    a(href="/search") Search

block content
  h4 Change Title of Video
    //- GET: 기본값. 검색할 때. POST: 파일을 보낼 떄, DB를 바꾸는 data를 보낼 때, 로그인 할 때.
    form(method="POST")
      //- every 'input' must have a name!!
      input(name="title", type="text", placeholder="Title", value=video.title, maxlegth=80, required)
      input(name="description", type="text", placeholder="Description", value=video.description, minlength=20, required)
      input(name="hashtags", type="text", placeholder="Hashtags, separated by comma.", value=video.hashtags.join().replaceAll("#", ""), required)
      input(type="submit", value="Save")