extends layout.pug 
include mixins/video.pug
//- .pug는 생략가능.

block nav
  nav 
    ul 
      li
        a(href="/videos/upload") Upload Video
        
block content
  ul
    each video in videos
      +info(video)
    else 
      span No videos found