doctype html
html(lang="ko")
  head
    title #{pageTitle} | #{siteName}
    //- 렌더링 하는 곳인 Controller에서 변수 설정
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet" href="/assets/css/styles.css")
  body
    include partials/header.pug
    main
      block content
    include partials/footer.pug
  script(src="/assets/js/main.js")