doctype html
html(lang="ko")
  head
    title #{pageTitle} | #{siteName}
    //- 렌더링 하는 곳인 Controller에서 변수 설정
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header
      h1=pageTitle
      nav 
        ul
          block navLink
        ul 
          if loggedIn
            li 환영합니다, #{loggedInUser.name}님.
            li
              a(href="/videos/upload") Upload Video
            li 
              a(href="/logout") Logout 
          else
            li 
              a(href="/join") Join
            li 
              a(href="/login") Login
          
    main
      block content
  include partials/footer.pug