doctype html
html(lang="ko")
  head
    title #{pageTitle} | Youtube Clone 
    //- 렌더링 하는 곳인 Controller에서 변수 설정
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header
      h1=pageTitle
      block nav
    main
      block content
  include partials/footer.pug