extends layout
include mixins/video

block content
  form(method="GET").search__form
    input(type="text" name="keyword" placeholder="검색")
    button
      span.material-symbols-outlined.material-symbols-outlined--search search
  
  div.video-grid
    each video in videos 
      +info(video)
    else 
      span.empty__message 검색결과가 없습니다.