header
  a(href="/").header__profile
    span.material-symbols-outlined.material-symbols-outlined--smart_display.header__logo album
    span.header__title YouPly
  nav 
    ul
      li 
        a(href="/search").header__profile
          span 검색
          span.material-symbols-outlined.material-symbols-outlined--search search
      if loggedIn
        li
          a(href="/videos/upload") 플리 업로드
        li.header__profile
          span 환영합니다, #{loggedInUser.name}님
          a(href=`/users/${loggedInUser._id}`)
            img(src= "/" + loggedInUser.avatarUrl).header__avatar
        li 
          a(href="/users/logout") 로그아웃
      else
        li 
          a(href="/login") 로그인
        li 
          a(href="/join").header__btn 회원가입