extends ../layout
include ../mixins/video

block navLink
  li 
    a(href="/") Home
  li
    a(href="/search") Search
  if !loggedIn
  else if String(loggedInUser._id) === id
    li
      a(href="/users/edit") Edit profile

block content 
  each video in user.videos
    +info(video)
  else
   li Sorry nothing found
  hr